.timer{
  font-size: 50px;
}
body{
  font-family: 'Bitter', serif;
  text-align: center;
}
h1{
	text-align: center;
	font-size: 50px;
}
h2{
	text-align: center;
	margin-top: 50px;
}
h3{
	font-size: 30px;
}